{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Splash image and specials carousel -->
{% include 'includes/splash.html' %}

<!-- Index -->
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-12 col-md-6 col-lg-12">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="index-card card shadow-lg mt-4">
                            <div class="index-card-light card-body">
                                <a class="nav-link" href="{% url 'items' %}?theme=City">
                                    <img class="img-top img-fluid" src="{% static 'media/index-city.png' %}">
                                </a>
                                <div class="index-title-box">
                                    <h4 id="index-city" class="index-title">CITY</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="index-card card shadow-lg">
                            <div class="index-card-dark card-body">
                                <a class="nav-link" href="{% url 'items' %}?theme=Space">
                                    <img class="img-top img-fluid" src="{% static 'media/index-space.png' %}">
                                </a>
                                <div>
                                    <h4 id="index-space" class="index-title">SPACE</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="index-card card shadow-lg">
                            <div class="index-card-light card-body">
                                <a class="nav-link" href="{% url 'items' %}?theme=Castle">
                                    <img class="img-top img-fluid" src="{% static 'media/index-castle.png' %}">
                                </a>
                                <div>
                                    <h4 id="index-castle" class="index-title">CASTLE</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="index-card card shadow-lg">
                            <div class="index-card-dark card-body">
                                <a class="nav-link" href="{% url 'items' %}?theme=Train">
                                    <img class="img-top img-fluid" src="{% static 'media/index-train.png' %}">
                                </a>
                                <div>
                                    <h4 id="index-train" class="index-title">TRAIN</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="index-card card shadow-lg">
                            <div class="index-card-light card-body">
                                <a class="nav-link" href="{% url 'items' %}?theme=MOC">
                                    <img class="img-top img-fluid" src="{% static 'media/index-moc.png' %}">
                                </a>
                                <div>
                                    <h4 id="index-moc" class="index-title">MOC</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mt-4">
                        <div class="index-card card shadow-lg">
                            <div class="card-body">
                                Account and admin
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}