{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">Checkout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="accordion">

                    <!-- Cart section -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                            <button class="btn btn-link no-dec" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <p class="checkout-form-heading">Cart</p>
                            </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                {% if cart_items %}
                                    {% for item in cart_items %}
                                        <div class="col-12 p-2">
                                            <h3 class="item-name">{{ item.added_item }}</h3>
                                            <p class="item-sku-number">{{item.added_number}}:{{item.added_sku.sku_number}}</p>
                                            <p>Price: ${{ item.added_sku.sku_price }}  Qty: {{ item.quantity }}</p>
                                            <p class="cart-total">Extended Price: ${{ item.extended_price }}</p>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <div class="cart-totals-box p-2">
                                        <p>Total items to ship: {{ shipping_total }}</p>
                                        {% if shipping == 0 %}
                                            <p class="cart-total">Shipping cost: $0.00</p>
                                        {% else %}
                                            <p class="cart-total">Shipping cost: ${{ shipping }}</p>
                                        {% endif %}
                                        <p class="cart-total">Grand total: ${{ grand_total }}</p>
                                    </div>
                                {% else %}
                                    <p>Cart is empty! Nothing to buy here.</p>
                                    <a class="button-13"  href="{% url 'items' %}">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Back</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Details section -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link no-dec collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="checkout-form-heading">Shipping</p>
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                                {% csrf_token %}
                                    <div>
                                        <div class="form-input"><p>Contact</p></div>
                                        <div class="form-input">{{ order_form.full_name }}</div>
                                        <div class="form-input">{{ order_form.full_name }}</div>
                                        <div class="form-input">{{ order_form.phone_number }}</div>
                                    </div>
                                    <div>
                                        <div class="form-input"><p>Shipping Address</p></div>
                                        <div class="form-input">{{ order_form.street_address1 }}</div>
                                        <div class="form-input">{{ order_form.street_address2 }}</div>
                                        <div class="form-input">{{ order_form.town_or_city }}</div>
                                        <div class="form-input">{{ order_form.state }}</div>
                                        <div class="form-input">{{ order_form.zipcode }}</div>
                                        <div class="form-input">{{ order_form.country}}</div>
                                    </div>
                                <!-- form continues -->
                            </div>
                        </div>
                    </div>

                    <!-- Payment section -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                            <button class="btn btn-link no-dec collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <p class="checkout-form-heading">Payment</p>
                            </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <!-- form continues -->
                                <div id="card-element">

                                </div>
                                <div id="card-errors">
                                    <p>Card errors go here</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <hr>
                                <div class="row">
                                        <div class="col-6 d-flex justify-content-center"> 
                                            <a class="button-13"  href="{% url 'items' %}">
                                                <p class="m-auto">Shop</p>
                                            </a>
                                        </div>
                                        <div class="col-6 d-flex justify-content-center">
                                            <a class="button-13 urgent-button"  href="{% url 'checkout' %}">
                                                <p class="m-auto">Payment</p>
                                            </a>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}