@import url("https://fonts.googleapis.com/css2?family=Mina&family=Vina+Sans&family=Staatliches");

:root {
    --text-color: 33, 37, 41;
    --text-color-muted: 124, 127, 129;
    --title-color: 0, 103, 178;
    --title-contrast: 218, 41, 28;
    --title-very-contrast: 255, 207, 0;
    --background-color-light: 252, 253, 255;
    --background-color-med: 237, 241, 248;
    --background-color-dark: 224, 227, 233;
    --button-color: 254, 255, 255;


    --window-color: 238, 240, 242;
    --header-footer-color: 219, 222, 217;
    --division-color: 236, 235, 238;
    --text-border-color: 28, 28, 28;
    --text-border-color-disabled: 82,82,82;
}

.test-area{
    text-color: #212529;
    text-color-muted: #7c7f81;
    title-color: #0067b2;
    title-contrast: #da291c;
    title-very-contrast: #ffcf00;
    background-color-light: #fcfdff;
    background-color-med: #edf1f8;
    background-color-dark: #e0e3e9;
    button-color: #feffff;
}

html {
    color: rgb(var(--text-color));
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mina', sans-serif;
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 15rem);
    background-color: rgb(var(--background-color-light));
}

#title-bar-container {
    background-color: rgb(var(--background-color-dark));
}

#title {
    display: flex;
    justify-content: center;
}

#title-then {
    font-family: 'Vina Sans', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-contrast));
    display: inline;
}

#title-mid {
    font-family: 'Mina', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(var(--title-very-contrast));
    display: inline;
}

#title-now {
    font-family: 'Staatliches', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-color));
    display: inline;
}

#search-area {
    width: 80%;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box {
    width: 80%;
}

#search-input {
    font-size: 1.5rem;
}

#search-submit {
    font-size: 2rem;
    margin-left: 0;
}

.inline {
    display: inline;
}

#cart-icon {
    font-size: 2rem;
    color: rgb(var(--title-color));
    text-align: center;
}

#cart-total {
    font-size: 1.5rem;
    color: rgb(var(--title-color));
    text-align: center;
}

#nav-container {
    background-color: rgb(var(--background-color-med));
}

#splash-container {
    background-color: rgb(var(--title-very-contrast));
}

#splash {
    background: url('../media/splash-sm.jpg') center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vw * .55);
    max-height: 34.8rem;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.info-bar {
    margin-bottom: 1.5rem;
}

#admin-bar {
    background-color: rgb(var(--background-color-dark));
}

footer {
    margin-top: 1.5rem;
}

#footer-container {
    background-color: rgb(var(--background-color-dark));
}

.footer-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

#signup-box {
    width: 75%;
}

#footer-signup-input {
    font-size: 1.5rem;
}

#footer-signup-submit {
    font-size: 1.5rem;
    margin-left: 0;
}

.nav-link {
    color: rgb(var(--text-color));
}

.educational-purposes {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
}

.items-bar {
    background-color: rgb(var(--title-very-contrast));
}

.description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item-name {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.item-copy {
    margin: 0;
}

.wide {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0rem;
}

#item-detail {
    width: 100%;
}

.flst-urgent i {
    color: rgb(var(--title-very-contrast));
}

.buy-box {
    margin-top: 2rem;
}

.buy-button-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-left: 2rem;
}

.buy-qty-box {
    height: 2rem;
    width: 3rem;
}

.item-sku-number {
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
    margin-bottom: 0;
}

.includes-box {
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.buy-copy {
    margin-bottom: 0.1rem;
}

.buy-copy-sm {
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
    margin: 0;
}

.form-group {
    margin-bottom: 0;
}

.input-quantity {
    border: 1px solid #d5d9d9;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    vertical-align: middle;
    max-width: 4rem;
    text-align: right;
}

.cart-total {
    text-align: right;
}

.checkout-form-heading {
    color: rgb(var(--text-color));
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.no-dec:hover {
    text-decoration: none;
}


/* Service area */
/* .button-13 code is slightly modified but borrowed from Amazon via CSS Scan, see readme for details.  */
.button-13 {
  background-color: rgb(var(--button-color));
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: rgb(var(--text-color));
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 0 1rem 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 10rem;
}

.button-13:hover {
  background-color: rgb(var(--background-color-med));
  color: rgb(var(--text-color));
  text-decoration: none;
}

.button-13:focus {
  border-color: rgb(var(--background-color-dark));
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
  text-decoration: none;
}

.button-13:disabled {
    background-color: rgb(var(--background-color-dark));
    color: rgb(var(--text-color-muted));
}

.left-button-13 {
    background-color: rgb(var(--button-color));
    border: 1px solid #d5d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 3rem;
}

.right-button-13 {
    background-color: rgb(var(--button-color));
    border: 1px solid #d5d9d9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 3rem;
}

.urgent-button {
    background-color: rgb(var(--title-very-contrast));
}

/* Disable native number input arrows in Chrome, Safari, Edge and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable native number input arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ----- */
/* Stripe CSS */
/* Variables */

/* {
    box-sizing: border-box;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  }
  
  .hidden {
    display: none;
  }
  
  #payment-message {
    color: rgb(105, 115, 134);
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  }
  
  #payment-element {
    margin-bottom: 24px;
  }
  

  button {
    background: #5469d4;
    font-family: Arial, sans-serif;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
  }
  button:hover {
    filter: contrast(115%);
  }
  button:disabled {
    opacity: 0.5;
    cursor: default;
  }
  

  .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 600px) {
    form {
      width: 80vw;
      min-width: initial;
    }
  }*/


/* ----- */
/* Media queries */
@media only screen and (min-width: 992px) {

    #search-area {
        padding-top: 2.8rem;
    }
    
    #cart-icon {
        font-size: 3rem;
    }

}

@media only screen and (min-width: 768px) {

    #splash {
        background: url('../media/splash.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        height: calc(100vw * 0.3);
        max-height: 34.8rem;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

}

@media only screen and (min-width: 576px) {

    .description-box {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .item-name {
        margin-top: 1rem;
    }

    .item-button {
        margin-bottom: 0;
    }

    .wide {
        margin-left: -1.5rem;
    }

}

@media only screen and (min-width: 540px) {

    #title-then {
        font-size: 5.5rem;
    }
    
    #title-mid {
        font-size: 5rem;
    }
    
    #title-now {
        font-size: 5.5rem;
    }

}