@import url("https://fonts.googleapis.com/css2?family=Mina&family=Vina+Sans&family=Staatliches");

/* Color root */
:root {
    --text-color: 33, 37, 41;
    --text-color-muted: 124, 127, 129;
    --title-color: 0, 103, 178;
    --title-contrast: 218, 41, 28;
    --title-very-contrast: 255, 207, 0;
    --background-color-light: 252, 253, 255;
    --background-color-med: 237, 241, 248;
    --background-color-dark: 224, 227, 233;
    --button-color: 254, 255, 255;


    --window-color: 238, 240, 242;
    --header-footer-color: 219, 222, 217;
    --division-color: 236, 235, 238;
    --text-border-color: 28, 28, 28;
    --text-border-color-disabled: 82,82,82;
}

/* REMOVE! */
.test-area{
    text-color: #212529;
    text-color-muted: #7c7f81;
    title-color: #0067b2;
    title-contrast: #da291c;
    title-very-contrast: #ffcf00;
    background-color-light: #fcfdff;
    background-color-med: #edf1f8;
    background-color-dark: #e0e3e9;
    button-color: #feffff;
}

/* Header, titlebar, splash, navbar styling rules */
html {
    color: rgb(var(--text-color));
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mina', sans-serif;
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 15rem);
    background-color: rgb(var(--background-color-light));
}

#title-bar-container {
    background-color: rgb(var(--background-color-dark));
}

#title {
    display: flex;
    justify-content: center;
}

#title-then {
    font-family: 'Vina Sans', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-contrast));
    display: inline;
}

#title-mid {
    font-family: 'Mina', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(var(--title-very-contrast));
    display: inline;
}

#title-now {
    font-family: 'Staatliches', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-color));
    display: inline;
}

#search-area {
    width: 80%;
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box {
    width: 80%;
}

#search-input {
    font-size: 1.5rem;
}

#search-submit {
    font-size: 2rem;
    margin-left: 0;
}

.inline {
    display: inline;
}

#cart-icon {
    font-size: 2rem;
    color: rgb(var(--title-color));
    text-align: center;
}

#cart-total {
    font-size: 1.5rem;
    color: rgb(var(--title-color));
    text-align: center;
}

#nav-container {
    background-color: rgb(var(--background-color-med));
}

#splash-container {
    background-color: rgb(var(--title-very-contrast));
}

.info-bar {
    margin-bottom: 1.5rem;
}

#admin-bar {
    background-color: rgb(var(--background-color-dark));
}

#admin-item-edit {
    background-color: rgb(var(--title-contrast), .20);
    margin-top: -1.5rem;
}

#admin-item-delete {
    background-color: rgb(var(--title-contrast), .60);
    margin-top: -1.5rem;
}

.admin-item-container {
    display: flex;
}

.strong-words {
    font-weight: 600;
    font-size: 2rem;
}

/* Index card styling rules */
.index-title {
    font-family: 'Vina Sans', sans-serif;
    color: rgb(var(--background-color-light));
}

.index-card {
    height: 27rem;
    width: 35rem;
}

.index-card-light {
    background-color: rgba(var(--title-very-contrast), 0.75);
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

.index-card-light:hover {
    background-color: rgb(var(--title-very-contrast));
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

.index-card-dark {
    background-color: rgba(var(--title-color), 0.75);
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

.index-card-dark:hover {
    background-color: rgb(var(--title-color));
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

.index-card-admin {
    background-color: rgba(var(--text-color-muted), 0.75);
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

.index-card-admin:hover {
    background-color: rgb(var(--text-color-muted));
    height: 27rem;
    width: 35rem;
    overflow: hidden;
}

#index-city {
    font-size: 23rem;
    margin-top: -6rem;
}

#index-space {
    font-size: 17rem;
    margin-top: -4rem;
}

#index-castle {
    font-size: 14rem;
    margin-top: -3rem;
}

#index-train {
    font-size: 17rem;
    margin-top: -4rem;
}

#index-moc {
    font-size: 25rem;
    margin-top: -7rem;
}

#index-admin {
    font-size: 11.7rem;
    margin-top: -2.5rem;
}

.img-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Footer styling rules */
footer {
    margin-top: 5rem;
}

#footer-container {
    background-color: rgb(var(--background-color-dark));
}

.footer-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

#signup-box {
    width: 75%;
}

.newsletter-input {
    font-size: 1.5rem;
}

#footer-signup-submit {
    font-size: 1.5rem;
    margin-left: 0;
}

.smol {
    font-size: 1rem;
    color: rgb(var(--text-color-muted));
}

.link {
    color: rgb(var(--title-color))
}

.nav-link {
    color: rgb(var(--text-color)) !important;
}

.educational-purposes {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
}

/* All-items or theme-items views styling rules */
.items-bar {
    background-color: rgb(var(--title-very-contrast));
}

.description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.item-name {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.item-copy {
    margin: 0;
}

.wide {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0rem;
}

.opacity-hover:hover {
    opacity: 0.75;
}

/* Item detail view styling rules */
#item-detail {
    width: 100%;
}

.flst-urgent i {
    color: rgb(var(--title-very-contrast));
}

.optional-pictures {
    background-color: rgba(var(--background-color-med), 0.8);
    box-shadow: inset 0 0 15px rgb(var(--background-color-dark));
}

.item-instructions-instructions {
    font-size: 1.3rem;
    color: rgb(var(--text-color-muted));
}

.image-small-box {
    display: flex;
    flex-direction: column;
}

.small-image-card {
    height: 100%;
    border: none;
}

.small-image-none {
    background-color: rgba(var(--background-color-med), 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
}

.then {
    font-family: 'Vina Sans', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-contrast));
    display: inline;
}

.mid {
    font-family: 'Mina', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: rgb(var(--title-very-contrast));
    display: inline;
}

.now {
    font-family: 'Staatliches', sans-serif;
    font-size: 4rem;
    color: rgb(var(--title-color));
    display: inline;
}

.buy-box {
    margin-top: 2rem;
}

.buy-button-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding-left: 2rem;
}

.buy-qty-box {
    height: 2rem;
    width: 3rem;
}

.item-sku-number {
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
    margin-bottom: 0;
}

.includes-box {
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.buy-copy {
    margin-bottom: 0.1rem;
}

.buy-copy-sm {
    font-size: 1.5rem;
    color: rgb(var(--text-color-muted));
    margin: 0;
}

.form-group {
    margin-bottom: 0;
}

.input-quantity {
    border: 1px solid #d5d9d9;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    vertical-align: middle;
    max-width: 4rem;
    text-align: right;
}

/* Checkout view styling rules */
.cart-total {
    text-align: right;
}

.checkout-form-heading {
    color: rgb(var(--text-color));
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.no-dec:hover {
    text-decoration: none;
}

/* Checkout form */
.form-box {
    width: 100%;
}

#id_full_name {
    width: 100%
}

.form-input {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#id_email {
    width: 100%;
}

#id_phone_number {
    width: 14rem;
}

#id_street_address1 {
    width: 100%;
}

#id_street_address2 {
    width: 100%;
}

#id_town_or_city {
    width: 50%;
}

#id_state {
    width: 40%;
    margin-left: 1rem;
}

#id_zipcode {
    margin-top: .5rem;
    width: 50%;
}

#id_country {
    width: 50%;
}

.StripeElement {
    border: 1px solid rgb(var(--text-color));
    height: 3rem;
    border-radius: 3px;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

.checkbox-not-blue {
    accent-color: rgb(var(--text-color));
}

/* Overlay CSS */
#submission-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--title-very-contrast), .85);
    z-index: 9999;
}

.submission-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* User info style rules */
.order-history-order-items {
    display: flex;
    justify-content: space-between
}

/* Toasts area */

#message {
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    height: 20rem;
    width: 20rem;
    z-index: 9999;
}

/* .button-13 code is slightly modified but borrowed from Amazon via CSS Scan, see readme for details.  */
.button-13 {
  background-color: rgb(var(--button-color));
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: rgb(var(--text-color));
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 0 1rem 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 10rem;
}

.button-13:hover {
  background-color: rgb(var(--background-color-med));
  color: rgb(var(--text-color));
  text-decoration: none;
}

.button-13:focus {
  border-color: rgb(var(--background-color-dark));
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
  text-decoration: none;
}

.button-13:disabled {
    background-color: rgb(var(--background-color-dark));
    color: rgb(var(--text-color-muted));
}

.left-button-13 {
    background-color: rgb(var(--button-color));
    border: 1px solid #d5d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 3rem;
}

.right-button-13 {
    background-color: rgb(var(--button-color));
    border: 1px solid #d5d9d9;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: rgb(var(--text-color));
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 3rem;
}

.urgent-button {
    background-color: rgb(var(--title-very-contrast));
}

/* Disable native number input arrows in Chrome, Safari, Edge and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable native number input arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Media queries */
@media only screen and (min-width: 1200px) {

    .index-card {
        height: 27rem;
        width: 35rem;
    }

    .index-card-light {
        background-color: rgb(var(--title-very-contrast), .85);
        height: 27rem;
        width: 35rem;
        overflow: hidden;
    }
    
    .index-card-dark {
        background-color: rgb(var(--title-color), .85);
        height: 27rem;
        width: 35rem;
        overflow: hidden;
    }
    
    #index-city {
        font-size: 23rem;
        margin-top: -6rem;
    }
    
    #index-space {
        font-size: 17rem;
        margin-top: -4rem;
    }
    
    #index-castle {
        font-size: 14rem;
        margin-top: -3rem;
    }
    
    #index-train {
        font-size: 17rem;
        margin-top: -4rem;
    }
    
    #index-moc {
        font-size: 25rem;
        margin-top: -7rem;
    }

}

@media only screen and (min-width: 992px) {

    #search-area {
        padding-top: 2.8rem;
    }
    
    #cart-icon {
        font-size: 3rem;
    }
    
}

@media (min-width: 992px) and (max-width: 1200px) {

    .index-card {
        height: 21rem;
        width: 29rem;
    }
    
    .index-card-light {
        background-color: rgb(var(--title-very-contrast), 0.85);
        height: 21rem;
        width: 29rem;
        overflow: hidden;
    }
    
    .index-card-dark {
        background-color: rgb(var(--title-color), 0.85);
        height: 21rem;
        width: 29rem;
        overflow: hidden;
    }

    .index-card-admin {
        background-color: rgba(var(--text-color-muted), 0.85);
        height: 21rem;
        width: 29rem;
        overflow: hidden;
    }

    #index-city {
        font-size: 18.5rem;
        margin-top: -6rem;
    }
    
    #index-space {
        font-size: 14rem;
        margin-top: -4rem;
    }
    
    #index-castle {
        font-size: 12rem;
        margin-top: -3rem;
    }
    
    #index-train {
        font-size: 14rem;
        margin-top: -4rem;
    }
    
    #index-moc {
        font-size: 20rem;
        margin-top: -6rem;
    }

    
    #index-admin {
        font-size: 9.5rem;
        margin-top: -2.5rem;
    }

}

@media only screen and (min-width: 768px) {

    #splash {
        background: url('../media/splash.png') center;
        background-size: contain;
        background-repeat: no-repeat;
        height: calc(100vw * 0.3);
        max-height: 34.8rem;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

}

@media only screen and (min-width: 576px) {

    .description-box {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .item-name {
        margin-top: 1rem;
    }

    .item-button {
        margin-bottom: 0;
    }

    .wide {
        margin-left: -1.5rem;
    }

}

@media only screen and (min-width: 540px) {

    #title-then {
        font-size: 5.5rem;
    }
    
    #title-mid {
        font-size: 5rem;
    }
    
    #title-now {
        font-size: 5.5rem;
    }

    /* Checkout form */

    .form-box {
        width: 45rem;
    }
    
    .form-input {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    #id_phone_number {
        width: 14rem;
    }
    
    #id_town_or_city {
        width: 50%;
    }
    
    #id_state {
        width: 15%;
        margin-left: 1rem;
    }
    
    #id_zipcode {
        width: 28%;
        margin-left: 1rem;
    }
    
    #id_country {
        width: 50%;
    }

}