@import url("https://fonts.googleapis.com/css2?family=Mina&family=Vina+Sans&family=Staatliches");

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mina', sans-serif;
    font-size: 1.6rem; 
    margin: 0;
    padding: 0;
}

#super-container {
    min-height: calc(100vh - 15rem);
}

#title-then {
    font-family: 'Vina Sans', sans-serif;
    font-size: 3rem;
    color: #ff0000;
    display: inline;
}

#title-mid {
    font-family: 'Mina', sans-serif;
    font-size: 3rem;
    color: #ffe600;
    display: inline;
}

#title-now {
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    color: #0000ff;
    display: inline;
}

#splash {
    background: url('../media/splash.png') center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(100vw * 0.3);
    max-height: 38.8rem;
    display: flex;
    justify-content: center;
    align-items: normal;
}

#carousel-first {
    background: url('../media/car-1.png');
    height: 12rem;
}

#carousel-second {
    background: url('../media/car-2.png');
    height: 12rem;
}

#carousel-third {
    background: url('../media/car-3.png');
    height: 12rem;
}

footer {
    background-color: #f8f9fa;
}