<!--Footer with sign up, social media links, and support links-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="footer-box">
            <div id="signup-box input-group form-horizontal">
              <h4>Sign Up!</h4>
              <hr>
              <p>Sign up and recieve emails about specials, news, and fun!</p>
              <input id="footer-signup-input" class="form-control" type="text" name="" placeholder="Your Email">
              <a id="footer-signup-submit" class="btn" href="#">Sign Up!</a>
              <hr class="d-md-none">
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="footer-box">
            <div>
              <h4>Find BTMN</h4>
              <hr>
              <a class="nav-link" href="https://www.instagram.com/bricksthenmadenow/" target="_blank" rel="noopener" aria-label="Link to Instagram, opens in new tab."><i class="fa-brands fa-instagram"></i></a>
              <a class="nav-link" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Link to Facebook, opens in new tab."><i class="fa-brands fa-facebook"></i></a>
              <a class="nav-link" href="#" target="_blank" rel="noopener" aria-label="Link to email"><i class="fa-regular fa-envelope"></i></a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="footer-box">
            <div>
              <h4>Support</h4>
              <hr>
              <a class="nav-link" href="#">Shipping</a>
              <a class="nav-link" href="#">FAQ</a>
              <a class="nav-link" href="#">T&Cs</a>
              <a class="nav-link" href="#">TOS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="educational-purposes">
    <p>Educational purposes only.</p><p>No items are for sale, no items will be shipped.</p>
    </div>
  </footer>