{% load static %}

  <!--Splash area-->
  <div class="container p-0 shadow">
    <div class="row no-gutters">
        <div class="col">
          <div id="splash-container">
          <!--Splash image-->
            <div>
              <img class="img-fluid" src="{% static 'media/splash.png' %}" alt="1986 Lego City minifig pack next to a computer generated update of the same set.">
            </div>
          </div>
          <!--Carousel-->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="{% url 'siteuser_profile' %}">
                  <img class="d-block w-100" src="{% static 'media/car-1.png' %}" alt="Free instructions when you sign up a new account.">
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img class="d-block w-100" src="{% static 'media/car-2-2.png' %}" alt="Free shipping on orders over fifty dollars.">
                </a>
              </div>
              <div class="carousel-item">
                <a href="{% url 'siteuser_profile' %}">
                  <img class="d-block w-100" src="{% static 'media/car-3.png' %}" alt="Join us, sign up for our mailing list today.">
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>            
        </div>
    </div>
  </div>