<!--Title bar including search form and cart-->
<div class="container">
    <div class="row no-gutters">
        <div id="title-container" class="col-12 col-lg-6">
          <div>
            <a href="{% url 'home' %}">
              <p id="title-then">Bricks Then</p><p id="title-mid">/</p><p id="title-now">Made Now</p>
            </a>
          </div>
        </div>
        <div id="search-area" class="col-8 col-lg-5 my-auto">
          <form method="GET" action="{% url 'items' %}">
            <span>
              <input class="search" type="text" name="searchterm" size="25" placeholder="What do you want to build?">
            </span>
            <span class="">
              <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </span>
          </form>
        </div>
        <div class="col-2 col-lg-1 my-auto">
          <a class="nav-link" href="{% url 'view_cart' %}">
            {% if total %}
            <i id="cart-icon" class="fa-solid fa-cart-arrow-down"></i>
            {% else %}
            <i id="cart-icon" class="fa-solid fa-cart-shopping d-inline"></i>
            {% endif %}
            <p class="d-inline">
              {% if total %}
                ${{ total|floatformat:2 }}
              {% else %}
                $0.00
              {% endif %}
            </p>
          </a>
        </div>
    </div>
  </div>