<!--Title bar including search form and cart-->
<div class="container">
    <div class="row">
        <div class="col-md">
          <p id="title-then">Bricks Then</p><p id="title-mid">/</p><p id="title-now">Made Now</p>
        </div>
        <div class="col-md">
          <form method="GET" action="">
            <input class="" type="text" name="q" placeholder="What are you looking for?">
            <button class="form-control btn" type="submit">Search!</button>
          </form>
        </div>
        <div class="col-md">
          <i class="fa-solid fa-cart-shopping d-inline"></i>
          <p class="d-inline">$0.00</p>
        </div>
    </div>
  </div>