{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">My Order History</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="card">
                        <p>Welcome back, {{ siteuser }}!</p>
                        <p>Here's your order history, nerd.</p>
                        {% for order in order_history. %}
                            <h4>{{ order.order_number }}</h4>
                            <p>{{ order.date }}</p>
                            {% for item in order.lineitems.all %}
                                <p>{{ item.sku.sku_item }}</p>
                                <p>{{ item.quantity }}</p>
                            {% endfor %}
                            {{ order.grand_total }}
                            <hr>
                        {% endfor %}
                    </div> 
                </div>
            </div>
        </div>
    </div>    

{% endblock %}