{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">My Siteuser Profile</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="card">
                        <h3>Welcome back, {{ siteuser }}!</h3>
                        <form id="siteuser-profile-update-form" action="{% url 'siteuser_profile' %}" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button class="button-13">Update</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </section>    

{% endblock %}