{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <h2 class="ml-4 mt-3 mb-3">My Siteuser Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row centering">
            <div class="col-12 col-lg-6">
                <h3 class="strong-words">Welcome back, {{ siteuser }}</h3>
                    <div class="card shadow">
                        <div class="card-body">
                            <form id="siteuser-profile-update-form" action="{% url 'siteuser_profile' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-box">
                                    <h3 class="strong-words">Change Your Details</h3>
                                    <div class="item-name">
                                        <h3>Contact</h3>
                                    </div>
                                    <div class="form-input">{{ daauser_form.first_name }}</div>
                                    <div class="form-input">{{ daauser_form.last_name }}</div>
                                    <div class="form-input">{{ request.user.email }}</div>
                                    <div class="form-input">{{ siteuser_form.siteuser_phone_number }}</div>
                                </div>
                                <div class="form-box">
                                    <div class="item-name">
                                        <h3>Shipping Address</h3>
                                    </div>
                                    <div class="form-input">{{ siteuser_form.siteuser_street_address1 }}</div>
                                    <div class="form-input">{{ siteuser_form.siteuser_street_address2 }}</div>
                                    <span id="id_town_or_city">{{ siteuser_form.siteuser_town_or_city }}</span>
                                    <span id="id_state">{{ siteuser_form.siteuser_state }}</span>
                                    <span id="id_zipcode">{{ siteuser_form.siteuser_zipcode }}</span>
                                    <div class="form-input">{{ siteuser_form.siteuser_country}}</div>
                                </div>
                                <button class="button-13 urgent-button">Update</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>  

{% endblock %}