{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">My Siteuser Profile</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div>
                <h3 class="strong-words">Welcome back, {{ siteuser }}</h3>
                    <div class="card">
                        <div class="card-body">
                            <form id="siteuser-profile-update-form" action="{% url 'siteuser_profile' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-box">
                                    <div class="item-name"><p>Contact</p></div>
                                    <div class="form-input">{{ form.siteuser_phone_number }}</div>
                                </div>
                                <div class="form-box">
                                    <div class="item-name"><p>Shipping Address</p></div>
                                    <div class="form-input">{{ form.siteuser_street_address1 }}</div>
                                    <div class="form-input">{{ form.siteuser_street_address2 }}</div>
                                    <span class="form-input">{{ form.siteuser_town_or_city }}</span>
                                    <span class="form-input">{{ form.siteuser_state }}</span>
                                    <span class="form-input">{{ form.siteuser_zipcode }}</span>
                                    <div class="form-input">{{ form.siteuser_country}}</div>
                                </div>
                                <button class="button-13 urgent-button">Update</button>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
</section>  

{% endblock %}