{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col strong-words">Delete Item</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Are you sure you want to delete this item?</p>
                <p>All associated skus will also be deleted.</p>
                <p>This cannot be undone.</p>
                <a class="button-13" href="{% url 'confirm_delete_item' item_id %}">Yes</a>
                <a class="button-13" href="{% url 'items' %}">No</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

{% endblock %}