{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <h2 class="ml-4 mt-3 mb-3 strong-words">Confirm! Delete Item</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h4>Are you sure you want to delete this item?</h4>
                        <p class="urgent-words mt-4">All associated skus will also be deleted.</p>
                        <p>This cannot be undone.</p>
                        <a class="button-13 urgent-button" href="{% url 'confirm_delete_item' item_id %}" aria-label="Delete item.">Yes</a>
                        <a class="button-13" href="{% url 'items' %}" aria-label="Escape link does not delete item, returns to items page.">No</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block postloadjs %}

{% endblock %}