{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container header-container">
        <div class="row">
            <h2 class="col strong-words">Delete Sku</h2>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Are you sure you want to delete this sku?</h4>
                <p>This cannot be undone.</p>
                <a class="button-13" href="{% url 'confirm_delete_sku' sku_id %}" aria-label="Delete sku.">Yes</a>
                <a class="button-13" href="{% url 'items' %}" aria-label="Escape link does not delete sku, returns to items page.">No</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}

{% endblock %}