{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

<div class="container p-0 info-bar shadow">
    <div class="row">
        <div class="col">
            <div class="navbar navbar-expand items-bar">
                <div class="collapse navbar-collapse">
                    <p class="ml-4 mt-3 mb-3">{{ item.item_theme }} > {{ item.item_name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="item-detail" class="card shadow">
                    {% if item.item_render %}
                        <img class="card-img-top" src="{{ item.item_render.url }}" alt="{{ item.item_name }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'media/no-image.png' %}" alt="No item image.">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="item-name">{{ item.item_name }}</h3>
                        <h4>Item: {{ item.item_number }}</h4>
                        <p class="card-text mt-3">{{ item.item_description }}</p>
                        <p>Part count: {{ item.item_part_count }}</p>
                        <hr>

                        {% if sku_inst %}
                            <div class="buy-box">
                                <form class="form" action="{% url 'add_to_cart' sku_inst.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <p class="buy-copy">Buy the instructions download!</p>
                                            <p class="item-sku-number">{{item.item_number}}:{{sku_inst.sku_number}}</p>
                                            <div class="includes-box">
                                                <p class="buy-copy-sm">Includes:</p>
                                                <p class="buy-copy-sm">Instructions download</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-8 buy-button-box d-flex justify-content-end">
                                            <div class="form-outline buy-qty-box input-group-lg">
                                                <input class="form-control qty-input" type="hidden" name="quantity" value="1" data-item_id="{{ sku_inst.id }}" id="id_qty_{{ sku_inst.id }}">
                                            </div>
                                                {% if user in item.item_user_owned.all %}
                                                    {% if item.item_instructions_url  %}
                                                        <a class="button-13" href="{{ item.item_instructions_url }}" target="_blank" rel="noopener" aria-label="Link to download instructions">Download</a>
                                                    {% else %}
                                                        <a class="button-13" href="#" target="_blank" rel="noopener" aria-label="Link to download instructions">Download</a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if item.item_number in item_instructions %}
                                                        <input type="submit" class="button-13" disabled value="In Cart">
                                                    {% else %}
                                                        <input type="submit" class="button-13 urgent-button" value="${{ sku_inst.sku_price}}">
                                                    {% endif %}
                                                {% endif %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                        {% else %}
                            <div class="buy-box">
                                <p>Instructions Coming Soon!</p>
                                <hr>
                            </div>
                        {% endif %}
                        

                        {% if sku_mdst %}
                            <div class="buy-box">
                                <form class="form" action="{% url 'add_to_cart' sku_mdst.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <p class="buy-copy">Buy the BTMN ModernSet!</p>
                                            <p class="item-sku-number">{{item.item_number}}:{{sku_mdst.sku_number}}</p>
                                            <div class="includes-box">
                                                <p class="buy-copy-sm">Includes:</p>
                                                <p class="buy-copy-sm">Instructions download</p>
                                                <p class="buy-copy-sm">Printed instructions</p>
                                                <p class="buy-copy-sm">{{ item.item_part_count }} Lego bricks and elements</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-8 buy-button-box">
                                            <p class="form-label mb-0 mr-2">Qty: </p>
                                            <div class="form-group w-50">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty left-button-13" 
                                                            data-item_id="{{ sku_mdst.id }}" id="decrement-qty_{{ sku_mdst.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="qty_input form-control input-quantity" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ sku_mdst.id }}" id="id_qty_{{ sku_mdst.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty right-button-13"
                                                            data-item_id="{{ sku_mdst.id }}" id="increment-qty_{{ sku_mdst.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" class="button-13 urgent-button"  value="${{ sku_mdst.sku_price}}">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                        {% else %}
                            <div class="buy-box">
                                <p>ModernSet Coming Soon!</p>
                                <hr>
                            </div>
                        {% endif %}
                
                        {% if sku_flst %}
                            <div class="buy-box">
                                <form class="form" action="{% url 'add_to_cart' sku_flst.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-4 flst-urgent">
                                            <p class="buy-copy font-italic ml-2"><i class="fa-solid fa-star-half"></i>Limited</p>
                                            <p class="buy-copy">Buy the BTMN FullSet!</p>
                                            <p class="item-sku-number">{{item.item_number}}:{{sku_flst.sku_number}}</p>
                                            <div class="includes-box">
                                                <p class="buy-copy-sm">Includes:</p>
                                                <p class="buy-copy-sm">Instructions download</p>
                                                <p class="buy-copy-sm">Printed instructions</p>
                                                <p class="buy-copy-sm">{{ item.item_part_count }} Lego bricks and elements</p>
                                                <p class="buy-copy-sm">PLUS!</p>
                                                <p class="buy-copy-sm">The vintage Lego set that inspired it</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-8 buy-button-box">
                                            <p class="form-label mb-0 mr-2">Qty: </p>
                                            <div class="form-group w-50">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty left-button-13" 
                                                            data-item_id="{{ sku_flst.id }}" id="decrement-qty_{{ sku_flst.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="qty_input form-control input-quantity" type="number" name="quantity" value="1" min="1" max="2" data-item_id="{{ sku_flst.id }}" id="id_qty_{{ sku_flst.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty right-button-13"
                                                            data-item_id="{{ sku_flst.id }}" id="increment-qty_{{ sku_flst.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" class="button-13 urgent-button"  value="${{ sku_flst.sku_price}}">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                        {% endif %}

                        <a class="button-13" href="{% url 'items' %}">
                            <p class="text-uppercase">Back</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    {% include 'product/includes/quantities-js.html' %}

{% endblock %}