{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand navbar-light items-bar">
                    <div class="collapse navbar-collapse">
                        <span class="navbar-nav mr-auto">
                            <span class="ml-4">
                            {% if current_theme %}
                                <span class="m-2 strong-words">{{ current_theme }}</span>
                            {% else %}
                                <span class="m-2 strong-words">All</span>
                            {% endif %}
                            </span>
                        </span>
                        <span class="navbar-text">
                            <span class="dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ current_sort }}
                                </a>
                                <span class="dropdown-menu border-0" aria-labelledby="all-items-link">
                                    <a href="{% url 'items' %}" class="dropdown-item">Nevermind</a>
                                    <a href="{% url 'items' %}?theme={{ current_theme }}&sort=item_part_count&direction=asc" class="dropdown-item">Part Count +</a>
                                    <a href="{% url 'items' %}?theme={{ current_theme }}&sort=item_part_count&direction=desc" class="dropdown-item">Part Count -</a>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-12 col-lg-6">
                    <div class="card m-3 shadow">
                        <div class="item-card row">
                            <div class="col-12 col-sm-6">
                                <div class="h-100">
                                    <a href="{% url 'item_detail' item.id %}" aria-label="Link to view item deails.">
                                        {% if item.item_render %}
                                            <img class="opacity-hover img-fluid" src="{{ item.item_render.url }}" alt="{{ item.item_name }}">
                                        {% else %}
                                            <img class="opacity-hover img-fluid" src="{% static 'media/no-image.png' %}" alt="No image available">
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 wide">
                                <div class="description-box">
                                    <h3 class="item-name">{{ item.item_name }}</h3>
                                    <p class="item-copy">Item: {{ item.item_number }}</p>
                                    <p class="item-copy">Parts count: {{ item.item_part_count }}</p>
                                    <a class="button-13 urgent-button" href="{% url 'item_detail' item.id %}" aria-label="Link to view item deails.">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block postloadjs %}

{% endblock %}
