{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand navbar-light items-bar">
                    <div class="collapse navbar-collapse">
                        <span class="navbar-nav mr-auto">
                            <div class="ml-4">
                            {% if current_theme %}
                                <p class="m-2">{{ current_theme }}</p>
                            {% else %}
                                <p class="m-2">All</p>
                            {% endif %}
                            </div>
                        </span>
                        <span class="navbar-text">
                            <div class="dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ current_sort }}
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                                    <!--<select id="sort-selector" class="custom-select custom-select-sm">
                                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort:</option>
                                        <option value="partcount_asc" {% if current_sorting == 'partcount_asc' %}selected{% endif %}>Part Count +</option>
                                        <option value="partcount_desc" {% if current_sorting == 'partcount_desc' %}selected{% endif %}>Part Count -</option>
                                    </select>-->
                                    <a href="{% url 'items' %}" class="dropdown-item">Nevermind</a>
                                    <a href="{% url 'items' %}?sort=item_part_count&direction=asc" class="dropdown-item">Part Count +</a>
                                    <a href="{% url 'items' %}?sort=item_part_count&direction=desc" class="dropdown-item">Part Count -</a>
                                    <a href="#" class="dropdown-item">Starting Price +</a>
                                    <a href="#" class="dropdown-item">Starting Price -</a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-12 col-lg-6">
                    <div class="card m-3 shadow">
                        <div class="item-card row">
                            <div class="col-12 col-sm-6">
                                <div class="h-100">
                                    {% if item.item_render %}
                                        <img class="img-fluid" src="{{ item.item_render.url }}" alt="{{ item.item_name }}">
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'media/no-image.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 wide">
                                <div class="description-box">
                                    <h3 class="item-name">{{ item.item_name }}</h3>
                                    <p class="item-copy">Item: {{ item.item_number }}</p>
                                    <p class="item-copy">Parts count: {{ item.item_part_count }}</p>
                                    <a class="button-13 urgent-button" href="{% url 'item_detail' item.id %}">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    <!--{{ block.super }}

    <script type="text/javascript">
        $('#sort-selector').change(function(){
            var selector =$(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal !='reset'){
                var sort = selectedVal.split('_')[0];
                var direction = selectedVal.split('_')[1];

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>-->

{% endblock %}
