{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                {{ item.item_theme }} > {{ item.item_name }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ item.item_name }}</h3>
            <p>{{ item.item_number }}</p>
            <p>{{ item.item_description }}</p>
            <p>{{ item.item_part_count }}</p>

            {% if sku_inst %}
                <p>Buy the instructions for {{ sku_inst.sku_price }}</p>
                <form class="form" action="{% url 'add_to_cart' sku_inst.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="1" data-item_id="{{ sku_inst.id }}" id="id_qty_{{ sku_inst.id }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            {% else %}
                <p>Coming Soon!</p>
            {% endif %}

            {% if sku_mdst %}
                <p>Buy the instructions and all the bricks {{ sku_mdst.sku_price }}</p>
                <form class="form" action="{% url 'add_to_cart' sku_mdst.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ sku_mdst.id }}" id="id_qty_{{ sku_mdst.id }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            {% else %}
                <p>Coming Soon!</p>
            {% endif %}

            {% if sku_flst %}
                <p>Buy the instructions, the bricks, and the vintage set it's based on for {{ sku_flst.sku_price }}</p>     
            {% endif %}       
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}

{% endblock %}