{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                {{ item.item_theme }} > {{ item.item_name }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ item.item_name }}</h3>
            <p>{{ item.item_number }}</p>
            <p>{{ item.item_description }}</p>
            <p>{{ item.item_part_count }}</p>

            {% if sku_inst %}
                <p>Buy the instructions for {{ sku_inst.sku_price }}</p>
            {% else %}
                <p>Instructions coming soon!</p>
            {% endif %}

            {% if sku_inst %}
                <p>Buy the instructions and all the bricks for {{ sku_mdst.sku_price }}</p>
            {% else %}
                <p>Modern set coming soon!</p>
            {% endif %}

            {% if sku_inst %}
                <p>Buy the instructions, the bricks, and the vintage set it's based on for {{ sku_flst.sku_price }}</p>
            {% else %}
                <p>Full set coming soon!</p>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}

{% endblock %}