{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Bricks Then Made Now" %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarText">
                        <span class="navbar-nav mr-auto">
                            {{ current_theme }}
                        </span>
                        <span class="navbar-text">
                            <div class="dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Items
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                                    <select id="sort-selector" class="custom-select custom-select-sm">
                                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort:</option>
                                        <option value="partcount_asc" {% if current_sorting == 'partcount_asc' %}selected{% endif %}>Part Count +</option>
                                        <option value="partcount_desc" {% if current_sorting == 'partcount_desc' %}selected{% endif %}>Part Count -</option>
                                    </select>
                                    <a href="{% url 'items' %}" class="dropdown-item">All</a>
                                    <a href="{% url 'items' %}?sort=item_part_count&direction=asc" class="dropdown-item">By Part Count</a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% for item in items %}
            <div class="card" >
                <div class="card-body">
                    <h3>{{ item.item_name }}</h3>
                    <p> Parts count: {{ item.item_part_count }}</p>
                    <a href="{% url 'item_detail' item.id %}">Click here to see the thing</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('#sort-selector').change(function(){
            var selector =$(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal !='reset'){
                var sort = selectedVal.split('_')[0];
                var direction = selectedVal.split('_')[1];

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}
