{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                Add Item
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                {% if edit %}
                    <form method="Post" action="{% url 'edit_item' item.id %}" enctype="multipart/form-data">
                {% else %}
                    <form method="POST" action="{% url 'new_item' %}" enctype="multipart/form-data">
                {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label }}</p>
                        {{ field }}
                        {% if field.name == 'item_number' %}
                            <p>XX as the year created, 0 as the reference Lego set number (Use the 0 if five digits)</p>
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="button-13" href="{% url 'items' %}">Cancel</a>
                        {% if edit %}
                            <button class="button-13" type="submit">Update</button>
                        {% else %}
                            <button class="button-13" type="submit">Add Item</button>
                        {% endif %}
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

{% endblock %}