{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3 strong-words">Add Item</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card shadow">
                    <div class="card-body"
                    {% if edit %}
                        <form method="Post" action="{% url 'edit_item' item.id %}" enctype="multipart/form-data">
                    {% else %}
                        <form method="POST" action="{% url 'new_item' %}" enctype="multipart/form-data">
                    {% endif %}
                        {% csrf_token %}
                        <div class="form-input">{{ form.item_number }}</div>
                        <p>XX as the year created, 0, XXXX as the reference Lego set number (Use the 0 if five digits).</p>
                        <hr>
                        <div class="form-input">{{ form.item_name }}</div>
                        <p>Use the name of the original set.</p>
                        <hr>
                        <div class="form-input">{{ form.item_theme }}</div>
                        <p>Select theme.</p>
                        <div class="form-input">{{ form.item_description }}</div>
                        <p>Item description. Remember to use SEO terms!</p>
                        <hr>
                        <p class="mb-0">Requred image:</p>
                        <div class="form-input">{{ form.item_render }}</div>
                        <p>Rendered picture of modern set, required!</p>
                        <span class="form-input">{{ form.item_render_url }}</span><span class="ml-2">URL</span>
                        <div class="card optional-pictures my-4">
                            <div class="card-body">
                                <p>Optional images:</p>
                                <div class="form-input">{{ form.item_old }}</div>
                                <p>Picture of original set physically built.</p>
                                <span class="form-input">{{ form.item_old_url }}</span><span class="ml-2">URL</span>
                                <hr>
                                <div class="form-input">{{ form.item_modern }}</div>
                                <p>Picture of modern set physically built.</p>
                                <span class="form-input">{{ form.item_modern_url }}</span><span class="ml-2">URL</span>
                                <hr>
                                <div class="form-input">{{ form.item_detail }}</div>
                                <p>Rendered picture of interesting detail.</p>
                                <span class="form-input">{{ form.item_detail_url }}</span><span class="ml-2">URL</span>
                            </div>
                        </div>
                        <div class="form-input">{{ form.item_instructions_url }}</div>
                        <p class="mb-0">Instructions .pdf, add formatting:</p>
                        <p class="item-instrctions-instructions">.../upload/<strong>fl_attachment:</strong>vreference/filename.pdf</p>
                        <hr>
                        <div class="form-input">{{ form.item_part_count }}</div>
                        <p>Parts Count.</p>
                        <div class="text-right">
                            <a class="button-13" href="{% url 'items' %}">Cancel</a>
                            {% if edit %}
                                <button class="button-13" type="submit">Update</button>
                            {% else %}
                                <button class="button-13 urgent-button" type="submit">Add Item</button>
                            {% endif %}
                        </div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

{% endblock %}