{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "BTMN - Login" %}{% endblock %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">Login</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <div id="item-detail" class="card shadow">
          <div class="card-body">
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="button-13" type="submit">{% trans "Login" %}</button>
              <a class="link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
            <p class="mt-5">If you have not created an account yet, then please <a class="link" href="{{ signup_url }}">sign up</a> first.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
