{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">Error 500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="item-detail" class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <img class="d-block w-10" src="{% static 'media/nedry404.png' %}" alt="Lego Dennis Nedry .gif mocks you for making a computer error.">
                            </div>
                            <div class="col-12 col-md-9">
                                <h3>Error 500</h3>
                                <p>Uh Uh Uh, you didn't say the magic word!</p>
                                <a class="button-13" href="{% url 'home' %}">Safety</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="item-detail" class="card shadow">
                    <div class="card-body">
                        <h3>Error 404</h3>
                        <p>Uh Uh Uh, you didn't say the magic word!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}