{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <div class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <p class="ml-4 mt-3 mb-3">Frequently Asked Questions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h3>FAQ</h3>
                    <p>Questions go here</p>
            </div>
        </div>
    </div>

{% endblock %}