{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <h2 class="ml-4 mt-3 mb-3 strong-words">About Bricks Then Made Now</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <div id="item-detail" class="card shadow">
                    <div class="card-body">
                        <h3 class="strong-words">About Bricks Then Made Now</h3>
                        <hr>
                        <p>Bricks Then Made Now is a place for Adult Followers of Lego to find some of their favorite vintage sets made in the modern, playset Lego style.</p>
                        <p>For a lot of us, playing with Lego in the 1970s, ‘80s, and ‘90s are a source of great memories. Even though creative play is the cornerstone of playing with Lego, there are certain sets that are iconic and will always be a part of our Lego experience. BTMN does our best to recreate these sets, carrying through the colorways and often specific printed elements to connect the modern builds to the vintage designs that inspired them.</p>
                        <p>The BTMN sets are not official Lego sets, and we are not affiliated with Lego. However, we have every intention to recreate Lego’s renowned playability. The modern sets are designed, built with real bricks, and designed again until the set is stable and strong enough for kids. These are toys after all, even our AFOL focus doesn’t give us an excuse to design sets that won’t stand up to vigorous play. The sets aren’t “built fragile,” as many AFOL creations are. The Lego instructions are clear and while the building techniques are modern and sometimes even complex, the sets are all intentionally similar what to what comes in those famous yellow boxes.</p>
                        <p>We all had dreams of designing our own sets, building what was in the Idea Books, and building our Lego MOC in a consistent colorway. Some of us are adults now, and we can put those rainbow warriors behind us and always have the right Lego elements at our fingertips.</p>
                        <hr>
                        <br>
                        <h3 class="strong-words">Frequently Asked Questions</h3>
                        <hr>
                        <h4>What’s the difference between the Instructions, the ModernSet, and the VintageSet?</h4>
                        <p>The Instructions are just that, a digital instructions download. They will be available immediately after your purchase is successful! The ModernSet includes the immediate instructions download, but we will also ship you all the bricks to build it! If your nostalgia is running high, then the VintageSet is for you! Not only will you get the instructions you can download immediately and all the bricks to build the modern version, but you’ll also get all the vintage bricks you’ll need to build the kit from decades ago! </p>
                        <br>
                        <h4>Do the vintage sets use vintage bricks?</h4>
                        <p>Every effort is made to get full vintage Lego sets including the appropriate colors as well as the correct element variant. If the original set used Light Gray instead of Light Blueish Gray, the correct color will be used. If the jumper is the old style without the groove – the jumper in your set won’t have a groove either and we’ll send condolences to your fingernails.</p>
                        <br>
                        <h4>Do the modern sets use genuine Lego bricks? </h4>
                        <p>BTMN uses only official, real Lego for our custom Lego sets. There is no substitute for genuine Lego clutch power. We do not modify parts, even printed parts, and therefore don’t use bricks in colors that are not available from Lego. If we can update and improve a colorway when Lego releases elements in new colors – we will!</p>
                        <br>
                        <h4>What about stickers?</h4>
                        <p>Of course, some vintage sets used stickers instead of prints. Moderns sets use stickers even more. We only use sticker decoration just where Lego did or has done before. Decades old stickers would be useless even if unused, and elements with stickers applied already are of mixed quality. So we work in cooperation with <a class="link" href="https://www.brickstickershop.com/" target="_blank" rel="noopener" aria-label="Link to Brick Sticker Shop, opens in new tab.">BrickStickerShop</a> to create reproductions of Lego stickers for use on our modern sets as well as your vintage ones!</p>                        
                        <br>
                        <h4>If I want the vintage Lego set, and enough bricks to build two of the BTMN version, what do I do?</h4>
                        <p>The VintageSet includes a ModernSet, so you can get one VintageSet, and one ModernSet. No need to buy a third package! And no matter what you buy, you’ll get the instructions for an immediate download</p>
                        <hr>
                        <br>
                        <h3 class="strong-words">Contact</h3>
                        <hr>
                        <h4> You can contact us by emailing us at:</h4>
                        <p>bricksthenmadenow@gmail.com</p>
                        <h4>You can also reach us on our social media</h4>
                        <a class="nav-link inline" href="https://www.instagram.com/bricksthenmadenow/" target="_blank" rel="noopener" aria-label="Link to Instagram, opens in new tab."><i class="fa-brands fa-instagram"></i></a><p class="inline">Instagram</p><br>
                        <a class="nav-link inline" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Link to Facebook, opens in new tab."><i class="fa-brands fa-facebook"></i></a><p class="inline">Facebook</p>
                    </div>
                </div>   
            </div>
        </div>
    </section>

{% endblock %}