{% extends 'base.html' %}

{% load static %}

{% block page_header %}

    <header class="container p-0 info-bar shadow">
        <div class="row">
            <div class="col">
                <div class="navbar navbar-expand items-bar">
                    <div class="collapse navbar-collapse">
                        <h2 class="ml-4 mt-3 mb-3 strong-words">Terms of Service</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="row">
            <div class="col-12">
                <div id="item-detail" class="card shadow">
                    <div class="card-body">
                        <h3>Terms of Service</h3>
                        <p>Please read these terms of service ("terms of service", "terms") carefully before using [website] website (“website”, "service") operated by Bricks Then Made Now ("us", 'we", "our").</p>
                        <h4>Conditions of use</h4>
                        <p>By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. Bricks Then Made Now only grants use and access of this website, its products, and its services to those who have accepted its terms.</p>
                        <h4>Educational Purposes Only</h4>
                        <p>Bricks Then Made Now is an educational exercise only. There are no claims made about the intellectual property or licensing of trademarked goods including but not limited to Lego toys.</p>
                        <p>No items are actually for sale.</p>
                        <p>No sales form submissions will result in any exchange of funds or purchases made, and Bricks Then Made Now makes no promises of immediate or future fullfillments under any circumstances.</p>
                        <p>Were this an operational eCommerce site, this form would reflect current boilerplate Terms and Conditions. The purpose of the terms on this page are solely to demonstrate understanding of eCommerce website development.</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}